.content {
  border-radius: 60px;
  background: #5acced;
  -webkit-box-shadow: 20px 20px 60px #3b879c, -20px -20px 60px #79ffff;
  box-shadow: 20px 20px 60px #3b879c, -20px -20px 60px #79ffff;
  height: 40rem;
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  text-align: center;
  margin-top: 4rem;
}

@media (min-width: 900px) {
  .content {
    width: 70%;
    font-size: 6rem;
  }
}

.imgContent {
  border-radius: 60px;
  height: 90%;
  max-width: 95%;
}
