.iconContainer {
    width: 5rem;
    height: 5rem;
    border-radius: 14px;
    background: linear-gradient(145deg, #5acced, #5acced);
    box-shadow:  5px 5px 20px #3b879c, 
    -5px -5px 20px #79ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 10s ease-in;
}

.iconContainer:hover {
    background: linear-gradient(145deg, #ffffff, #ffffff);
}


.menuIcon {
    width: 70%;
    height: 70%;
    cursor: pointer;
    
}