.content {
    border-radius: 50px;
    background: #5acced;
    -webkit-box-shadow: 20px 20px 60px #3b879c, -20px -20px 60px #79ffff;
            box-shadow: 20px 20px 60px #3b879c, -20px -20px 60px #79ffff;
    width: 70%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 4rem;
  }

.imgContent {
        border-radius: 60px;
        width: auto;
        height: 80%;
}