.content {
    border-radius: 50px;
    background: #5acced;
    -webkit-box-shadow: 20px 20px 60px #3b879c, -20px -20px 60px #79ffff;
            box-shadow: 20px 20px 60px #3b879c, -20px -20px 60px #79ffff;
    width: 80%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }