.navList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navTitle {
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.navLink,
.navLink:hover,
.navLink:link,
.navLink:visited {
    font-size: 2.2rem;
    text-decoration: none;
    color: white;
    margin: 1rem 0;
    transition: all .3s;
}

.logo_container {
    height: 100%;
    display: flex;
}

.logo {
    align-self: flex-end;
    margin-bottom: 8rem;
}